/* .header {
    display: flex;
    margin-left: 0;
    padding-left: 0;
    justify-content: flex-start;
    height: 13%;
    align-items: center;
    background-color:#DA0037;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
} */
.container {
    display: flex;
    margin-left: 0;
    padding-left: 0;
    justify-content: flex-start;
    align-items: center;
    background-color:#DA0037;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

mat-toolbar {
    background-color: #Da0037;
    margin-left: 0;
    padding-left: 0;
}

.toolbar-logo {
    justify-content: left;
    display: flex;
}

.toolbar-cliente{
    justify-content: space-between;
    display: flex;
    padding-top: 10px;
}

.toolbar-contato{
    padding: 0;

}

.toolbar-login{
    padding: 0;

}
 
.tamanhoIcone {
    font-size: 40px;
}

.primeiroItem {
    padding-left: 20px;
}

a{
    color: white;
}

.itensMenu {
    padding-right: 20px;
}

.itensMenuAdmin {
    padding-right: 20px;
}

.bemVindo {
    margin-right: 10px;
}

.btnColor {
    color: white;
}


.espacamento{
    margin-right: 20px;
}

.logo {
    margin-left: 0;
    padding-left: 0;
    margin-top: 10px;
    width: 120%;
    height: 120%;
}

.logoWhats {
    max-height: 30px;
    margin-left: 30px;
    padding-left: 0;
    margin-right: 10px;
    vertical-align: middle;
}