table {
    margin-top: o0px;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    background-color:#DA0037;
}
.cliente {
    font-size: large;
    color: #Da0037;

}

.cardCliente{
    margin-top: 10px;
    width: max-content;
    margin-left: 1%;
    margin-right: 1%;
    padding-right: 10px;
    background-color:white;
    color: black;
    /* border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #Da0037; */
}

mat-label {
    color: black;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #Da0037;
     /* opacity: 1!important; */
  }
  
  /* mat-input focused color */
  ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #Da0037;
  } 


.conteudo {
    padding-bottom: 30px;
}

th {
    color:white;
    text-align: center;
    vertical-align: middle;
}

td {
    color:white;
    text-align: center;
    vertical-align: middle;
}

.alinhamento {
    text-align: center;
    vertical-align: middle;
    color:white
}

.botao { 
    margin-top: 10px;
    margin-left: 10px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #DA0037;
    color: black;
}

.edit > i {
    margin-right:10px;
}

.edit > i {
    color: #d9cd26;
}

.delete > i {
    color: #ff6e7d
}