<mat-card class="mat-elevation-z9">
    <mat-card-title>Login</mat-card-title>
    <form>
        <mat-form-field floatLabel="always" class ="campos" appearance="outline">
            <mat-label>CPF</mat-label>
            <input matInput placeholder="Digite seu CPF" [(ngModel)]="usuarioForm.cpf" name="cpf">
        </mat-form-field>
        <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput placeholder="Senha" type="password" [(ngModel)]="usuarioForm.password" name="senha">
        </mat-form-field>
    </form>
    <button class="botao" mat-raised-button (click)="login()" color="alert">
        Log in
    </button>
    <button class="botaoCadastro" mat-raised-button (click)="cadastro()">
        Cadastro
    </button>
    <!-- <button class="botaoCadastro" mat-raised-button (click)="cri()">
        Cript<p></p> 
    </button>
    <span>{{senhaCripto}}</span> -->
</mat-card>