form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.nome {
    width: 800px;
}

.email {
    width: 400px;
}

.endereco {
    width: 842px;
}

button {
    margin-right: 15px;
    margin-top: 20px;
    background-color: rgb(26, 26, 26);
    border-width: 1px;
    color: white
}

.cancelar {
    background-color: rgb(234, 22, 34);
}

mat-card {
    max-width: 65%;
    margin: 1em auto;
    text-align: center;
    background-color:#343F56
}

mat-form-field {
    display: block;
    color: white;
}