@media only screen and (max-width : 768px){

    .faixaItem{
        padding-top: 2vh;
        background-color: none;
        height: 10vh;
        font-weight: 500;
        margin-left: 2vh;
        color: black;
        vertical-align: middle;
        text-align: center;
        font-size: x-large;
    }
}

table {
    margin-top: 0px;
    width: 98vh;
    margin-left: 1vh;
    margin-right: 1vh;
    background-color:white;
    color: #DA0037;
}

.tableVazia {
    margin-top:2vh;
}

mat-card {
    background-color: white;
    color: black;
}

th {
    color: black;
}

td {
    color: black;
}

.campos {
    width: 14vh;
}

.valorTotal {
    font-size: larger;
    color: black;
}

.precoTotal {
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-color: white;
    color: #DA0037;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #DA0037;
}

.faixaItem{
    padding-top: 2vh;
    background-color: none;
    height: 10vh;
    font-weight: 500;
    margin-left: 2vh;
    color: #DA0037;
    vertical-align: middle;
    text-align: center;
    font-size: x-large;
}

.textoFaixa{
    width: 50vh;
    font-size: x-large;
    color: #DA0037;
    border-style: solid;
    border-width: 1px;
    padding-left: 25vh;
    padding-right: 25vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-right: 4vh;
    border-radius: 5px;
    border-color: #DA0037;
}

menu {
    width: 50%;
    background-color: #DA0037;
}

.iconeFaixa {
    font-size: 40px;
    color: black;
}

.container {
    justify-content: center;
    align-content: space-between;
    width: 100%;
}

.tableProdutos {
    margin-left: 4vh;
    width: 98vh;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    /* padding-top: 10px; */
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: #Da0037;
}

.cabecalhoProd{
    border-bottom-width: 0px;
    border-bottom-color: #DA0037;
    text-align: center;
    font-size: larger;
}

th {
    border-bottom-width: 1px;
    border-bottom-color: #DA0037;
}

ng-container{
    padding-left: 2vh;
    flex-wrap: wrap;
}

.mensagem {
    font-size: larger;
    text-align: center;
}

span {
    font-size: 100px;
}
.alinhamento {
    text-align: center;
    vertical-align: middle;
    background-color: none;
}

.btnAcoes { 
    background-color:#DA0037;
    border-style: solid;
    border-width: 1px;
    border-color: #DA0037;
    color: white
}

button {
    background-color: white;
}

.delete {
    color: #DA0037;
    text-align: right;
    vertical-align: middle;
}

.add {
    color: green;
    padding-right: 1vh; 
}

.remove {
    padding-left: 1vh;
    color: red;
    text-align: center;
    vertical-align: middle;
}