<mat-card class="mat-elevation-z2">
    <mat-card-title>Atualizar cliente</mat-card-title>
    <form fxLayout="row wrap" fxLayoutGap="20px">
        <mat-form-field appearance="outline">
            <input matInput placeholder="Nome" [(ngModel)]="cliente.nome" name="nome">
        </mat-form-field>
        <mat-form-field appearance="outline" class="email">
            <input type="email" matInput placeholder="E-mail" [(ngModel)]="cliente.email" name="email">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input matInput placeholder="CPF" [(ngModel)]="cliente.CPF" name="CPF">
        </mat-form-field>
        <mat-form-field appearance="outline" class="endereco">
            <input matInput placeholder="Endereço" [(ngModel)]="cliente.endereco" name="endereco">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Telefone" [(ngModel)]="cliente.telefone" name="telefone">
        </mat-form-field>
    </form>
    <button class="cancelar" mat-stroked-button (click)="cancelar()">
        Cancelar
    </button>
    <button mat-raised-button (click)="updateCliente()">
        Atualizar
    </button>
</mat-card>