mat-card {
    max-width: 65%;
    margin: 1em auto;
    text-align: center;
    background-color:grey
}

.nome {
    width: 800px;
}

.email {
    width: 400px;
}

.endereco {
    width: 842px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: black;
}

button {
    margin-right: 15px;
    margin-top: 20px;
    background-color:rgb(234, 22, 34);
}

.btnSucesso {
    margin-right: 15px;
    margin-top: 20px;
    background-color: black;
}
