<div >
    <table class="conteudo" mat-table [dataSource]="pedidos">

        <ng-container  matColumnDef="numero">
            <th class="alinhamento" mat-header-cell *matHeaderCellDef>Número do pedido</th>
            <td class="alinhamento" mat-cell *matCellDef="let row">{{row._id}}</td>
        </ng-container>
         
        <ng-container matColumnDef="produtos">
            <th class="alinhamento " mat-header-cell *matHeaderCellDef>Produtos</th>
            <td class="alinhamento bordaLateral" mat-cell *matCellDef="let row">
                <table mat-table [dataSource]="produtos">
                    <ng-container matColumnDef="nome">
                        <th class="alinhamento" mat-header-cell *matHeaderCellDef>Nome</th>
                        <td class="alinhamento" mat-cell *matCellDef="let row2">{{row2.nome}}</td>
                    </ng-container>
                    <ng-container matColumnDef="preco">
                        <th class="alinhamento" mat-header-cell *matHeaderCellDef>Preço</th>
                        <td class="alinhamento" mat-cell *matCellDef="let row2">{{row2.preco | currency: 'BRL'}}</td>
                    </ng-container>
                    <ng-container matColumnDef="quantidade">
                        <th class="alinhamento" mat-header-cell *matHeaderCellDef>Quantidade</th>
                        <td class="alinhamento" mat-cell *matCellDef="let row2">{{row2.quantidade}}</td>
                    </ng-container>
                    <ng-container matColumnDef="total_item">
                        <th class="alinhamento" mat-header-cell *matHeaderCellDef>Total Item</th>
                        <td class="alinhamento" mat-cell *matCellDef="let row2">{{row2.quantidade * row2.preco | currency: 'BRL'}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="produtoDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row2; columns: produtoDisplayedColumns"></tr>
                </table>
            </td>
        </ng-container>

        <ng-container matColumnDef="total_pedido">
            <th class="alinhamento" mat-header-cell *matHeaderCellDef>Valor total</th>
            <td class="alinhamento" mat-cell *matCellDef="let row">{{row.totalPedido | currency: 'BRL'}}</td>
        </ng-container>
        
        <ng-container matColumnDef="dataPedido">
            <th class="alinhamento" mat-header-cell *matHeaderCellDef>Data do pedido</th>
            <td class="alinhamento" mat-cell *matCellDef="let row">{{row.dataPedido | date : 'dd/MM/yyyy HH:mm'}}</td>
        </ng-container>

        <ng-container matColumnDef="dataEntrega">
            <th class="alinhamento" mat-header-cell *matHeaderCellDef>Data de entega</th>
            <td class="alinhamento" mat-cell *matCellDef="let row">{{row.dataEntrega | date : 'dd/MM/yyyy HH:mm'}}</td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th class="alinhamento" mat-header-cell *matHeaderCellDef>Status</th>
            <td class="alinhamento" mat-cell *matCellDef="let row">{{row.status}}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr> -->
    </table>
</div>
<p></p>
<div>
    <button class="botao" mat-raised-button (click)="voltar()">
        Voltar
    </button>
</div>