<mat-card class="mat-elevation-z2">
    <mat-card-title><strong>Cadastro</strong></mat-card-title>
    <form  fxLayout="row wrap" fxLayoutGap="20px">
        <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Nome</mat-label>
            <input  matInput [(ngModel)]="usuario.nome" name="nome">
        </mat-form-field>
        <mat-form-field floatLabel="always" appearance="outline" class="email">
            <mat-label>e-mail</mat-label>
            <input type="email" matInput  [(ngModel)]="usuario.email" name="email">
        </mat-form-field>
        <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>CPF</mat-label>
            <input matInput [(ngModel)]="usuario.CPF" name="CPF">
        </mat-form-field>
        <mat-form-field floatLabel="always" appearance="outline" class="endereco">
            <mat-label>Endereço</mat-label>
            <input matInput [(ngModel)]="usuario.endereco" name="endereco">
        </mat-form-field>
        <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Telefone</mat-label>
            <input matInput [(ngModel)]="usuario.telefone" name="telefone">
        </mat-form-field>
        <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput type="password" [(ngModel)]="usuario.password" name="password">
        </mat-form-field>
        <mat-form-field floatLabel="always" appearance="outline">
            <mat-label>Repita a senha</mat-label>
            <input matInput type="password" [(ngModel)]="checkPass" name="checkPass">
        </mat-form-field>
    </form>
    <button class="botao" mat-raised-button (click)="createUser()">
        Cadastrar
    </button>
    <button class="cancelar" mat-stroked-button (click)="cancelar()">
        Cancelar
    </button>
</mat-card>