/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* for sidenav to take a whole page */
html, body { 
    margin: 0;
    height: 97%;
    background: white;
}

.red {
    color:red;
}

.v-middle{
    vertical-align: middle;
}

.msg-success {
    background-color: seagreen;
    color: white;
}

.msg-error {
    background-color: red;
    color: white;
}
